@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Optica1.Models.Persona>;

<div class="container my-4">
    <div class="text-center mb-3">
        <h2 class="fw-bold">Lista de Clientes</h2>
    </div>

    <div class="d-flex justify-content-center mb-3 gap-2">
        <a asp-controller="PersonasssController1"
           asp-action="Nuevo"
           class="btn"
           style="background-color: #0C65B5; color: white;">
            <i class="bi bi-plus-circle"></i> Crear
        </a>

        <a asp-controller="PersonasssController1"
           asp-action="ExportarExcel"
           class="btn"
           style="background-color: #0C65B5; color: white;">
            <i class="bi bi-file-earmark-excel"></i> Exportar Excel
        </a>
    </div>

    <!-- Tabla centrada y con sombra -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center align-middle shadow-lg mx-auto" style="max-width: 95%;">
            <thead class="">
                <tr>
                    <th>Cédula</th>
                    <th>Primer nombre</th>
                    <th>Segundo nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Fecha de nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdPersona</td>
                        <td>@item.PrimerNombre</td>
                        <td>@item.SegundoNombre</td>
                        <td>@item.PrimerApellido</td>
                        <td>@item.SegundoApellido</td>
                        <td>@item.Correo</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>@item.FechaNacimiento</td>
                        <td>
                            <a asp-controller="PersonasssController1"
                               asp-action="Editar"
                               asp-route-id="@item.IdPersona"
                               class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a asp-controller="PersonasssController1"
                               asp-action="Eliminar"
                               asp-route-id="@item.IdPersona"
                               onclick="return confirmar()"
                               class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-3">
       <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver 
        </a>
    </div>
 
</div>



<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

@section scripts{
    <script>
        function confirmar(){

           return confirmar("estas seguro")
        }
    </script>
}

